# Webscrapping Assignmnet-4

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. 
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos 

You need to find following details: 

A)Rank

B) Name

C) Artist

D) Upload date

E) Views

In [64]:
#importing librarries

import selenium
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import time

In [4]:
#connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

#Opening wikipedia webpage
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2)

In [5]:
#Empty list for scrapping data:

Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [9]:
#Extracting rank via XPATH:

try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
except StaleElementReferenceException:
    Rank.append('NA')
    
#Extracting name via XPATH:
try:
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')
except StaleElementReferenceException:
    Name.append('NA')

#Extracting artist name via XPATH:    
try:
    artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('NA')
except StaleElementReferenceException:
    Artist.append('NA')

    
#Extracting date via XPATH:
try:
    date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
    for i in date:
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append('NA')
except StaleElementReferenceException:
    Upload_date.append('NA')

#Extracting views via XPATH:    

try:
    views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in views:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('NA')
except StaleElementReferenceException:
    Views.append('NA')

In [10]:
#DataFrame for scrapped data:
Wiki=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload Date":Upload_date,"Views":Views})
Wiki

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.65
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.32
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.84
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.50
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.14
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.09
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.71
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.57
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.09
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.01
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.96
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.57
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.48
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.16
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.97
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.92
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.91
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.84
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.78
19,20.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.76
20,21.,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.74
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.69
22,23.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.63
23,24.,"""Dark Horse""[48]",Katy Perry,"February 20, 2014",3.63
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.60
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.56
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.55
27,28.,"""Shree Hanuman Chalisa""[52]",T-Series Bhakti Sagar,"May 10, 2011",3.54
28,29.,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.52
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.50

# 2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Series

B) Place

C) Date

D) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [57]:
import selenium
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [58]:
#Connecting to webdriver:
driver=webdriver.Chrome()

#Connecting to BCCI webpage:
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(1)

In [59]:
#Opening fixtures webpage:
fixtures=driver.find_element(By.XPATH,'//div[1][@class="imw-tabs international-tabs"]//a[2]')
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [60]:
#Empty list for scrap data:
Series = []
Place = []
Date = []
Time = []

In [61]:
#Extract date via XPATH:
try:
    date=driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[1]')
    for dates in date:
        Date.append(dates.text)
except NoSuchElementException:
    Date.append('NA')

#Extract time via XPATH:
try:
    time=driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[2]')
    for times in time:
        Time.append(times.text)
except NoSuchElementException:
    Time.append('NA')

#Extarct place via XPATH:
try:
    place=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]/span')
    for places in place:
        Place.append(places.text)
except NoSuchElementException:
    Place.append('NA')
    

#Extract match via XPATH:
try:
    match=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for matches in match:
        Series.append(matches.text)
except NoSuchElementException:
    Series.append('NA')

In [62]:
print(len(Place),len(Time),len(Series),len(Date))

16 9 9 9

In [63]:
#Data Frame for scrapped data:
Cricket=pd.DataFrame({"Series":Series[:9],"Place":Place[:9],"Date":Date[:9],"Time":Time[:9]})
Cricket

,Series,Place,Date,Time
0,QUADRANGULAR MENS U19 ONE DAY SERIES,"Barsapara Cricket Stadium,","27 NOVEMBER, 2023",9:00 AM IST
1,AUSTRALIA TOUR OF INDIA 2023-24,Guwahati,"28 NOVEMBER, 2023",7:00 PM IST
2,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,"Wankhede Stadium,","29 NOVEMBER, 2023",1:30 PM IST
3,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,Mumbai,"1 DECEMBER, 2023",1:30 PM IST
4,AUSTRALIA TOUR OF INDIA 2023-24,"Wankhede Stadium,","1 DECEMBER, 2023",7:00 PM IST
5,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,Mumbai,"3 DECEMBER, 2023",1:30 PM IST
6,AUSTRALIA TOUR OF INDIA 2023-24,Shaheed Veer Narayan Singh International Crick...,"3 DECEMBER, 2023",7:00 PM IST
7,ENGLAND WOMEN TOUR OF INDIA 2023-24,Raipur,"6 DECEMBER, 2023",7:00 PM IST
8,ENGLAND WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium,","9 DECEMBER, 2023",7:00 PM IST

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details: 

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [19]:
import selenium
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [20]:
#Connecting to webdriver:
driver=webdriver.Chrome()
time.sleep(1)

#opening to webpage:
url='http://statisticstimes.com/'
driver.get(url)
time.sleep(1)

In [27]:
#Creating empty list for scarpping data:
Rank=[]
States=[]
GSDP_18_19=[]
GSDP_19_20=[]
Share=[]
GDP=[]

In [25]:
# Clicking on India under ecomony section

India=driver.find_element(By.XPATH,'//div[2][@class="dropdown"]//div/a[3]')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
    
time.sleep(2)

# Clicking Indian State GDP
State=driver.find_element(By.XPATH,'//div[@style="float:left;background-color:seashell;width:400px;height:800px;"]//ul/li[1]')
try:
    State.click()
except ElementNotInteractableException:
    driver.get(State.get_attribute('href'))
time.sleep(2)

In [28]:
# Extracting Rank via XPATH
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')

# Extracting state name via XPATH
try:
    states=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in states:
        States.append(i.text)
except NoSuchElementException:
    States.append('NA')

# Extracting GDSP 18-19 via XPATH    
try:
    gsdp_18_19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gsdp_18_19:
        GSDP_18_19.append(i.text)
except NoSuchElementException:
    GSDP_18_19.append('NA')

# Extracting GDSP 19-20 via XPATH    
try:
    gsdp_19_20=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gsdp_19_20:
        GSDP_19_20.append(i.text)
except NoSuchElementException:
    GSDP_19_20.append('NA')

# Extracting share in billons via XPATH    
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

# Extracting GDP via XPATH
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [29]:
#DataFrame for scrapped data
Statewise_GDP=pd.DataFrame({"Rank":Rank,"State":States,"GSDP(18-19)-at current prices":GSDP_18_19,"GSDP(19-20)-at current prices":GSDP_19_20,"Share(18-19)":Share,"GDP($ billion)":GDP})
Statewise_GDP

,Rank,State,GSDP(18-19)-at current prices,GSDP(19-20)-at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
    
You have to find the following details:
    
A) Repository title

B) Repository description

C) Contributors count

D) Language used 

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [39]:
#Connecting webdriver:
driver=webdriver.Chrome()
time.sleep(1)

#opening to webpage
url='https://github.com/'
driver.get(url)
time.sleep(1)

In [40]:
# Clicking on trending option
trending=driver.find_element(By.XPATH,'//ul[@aria-labelledby="open-source-repositories-heading"]/li[2]/a')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [41]:
# Creating Empty list for Scraping Data
Title=[]
Description=[]
Count=[]
Language=[]

In [42]:
# Scraping repositories URL
URL=[]
link=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')

for i in link:
    URL.append(i.get_attribute('href'))

In [43]:
len(URL)

25

In [44]:
# Scraping Repositority Title
try:
    title=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('NA')

In [45]:
len(Title)

25

In [36]:
for i in URL:
    driver.get(i)
    time.sleep(3)        
# Scraping Description        
    try:
        description=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/div/div[2]/div')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append('NA')
        
 # Scraping Contributor count        
    try:
        count=driver.find_element(By.XPATH,'//div[5][@class="BorderGrid-row"]//h2//span')
        Count.append(count.text)
    except NoSuchElementException:
        Count.append('NA')
  # Scraping Language   
    try:
        lang=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        for langs in lang:
            Language.append(langs.text)
    except NoSuchElementException:
        Language.append('NA')

In [37]:
print(len(Description),len(Count),len(Language))

25 25 61

In [38]:
#DataFrame for scrapped data:
Github=pd.DataFrame({"Repository Description":Description,"Contributors Count":Count,"Language Used":Language[:25]})
Github

,Repository Description,Contributors Count,Language Used
0,"A quick example of how one can ""synchronize"" a...",NA,JavaScript
1,"Build ChatGPT over your data, all with natural...",5,HTML
2,2008-2012 Roadster Development and Diagnostic ...,NA,Python
3,"Awesome deals on Black Friday: Apps, SaaS, Boo...",567,Makefile
4,✯ 一个可直连访问的电视/广播图标库与相关工具项目 ✯ 🔕 永久免费 直连访问 完整开源 不...,NA,JavaScript
5,Clash Nyanpasu!\nLicense\nGPL-3.0 license\n2.2...,26,HTML
6,leaked prompts of GPTs\n2.9k stars 632 forks A...,3,TypeScript
7,The code behind my hot tips\n686 stars 186 for...,NA,Rust
8,Focus on prompting and generating\nLicense\nGP...,NA,JavaScript
9,A Collection of application ideas which can be...,68,SCSS
10,"StarRocks, a Linux Foundation project, is a ne...",293,HTML
11,C Telegram bot framework\nLicense\nBSD-3-Claus...,NA,TypeScript
12,🇨🇳 GitHub中文排行榜，各语言分设「软件 | 资料」榜单，精准定位中文好项目。各取所需...,NA,JavaScript
13,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。\n1panel.cn/\nLi...,38,Python
14,store all agent's system prompt\nLicense\nMIT ...,3,JavaScript
15,Generative Models by Stability AI\nLicense\nMI...,15,Java
16,A one-of-a-kind resume builder that keeps your...,NA,C++
17,"12 Weeks, 24 Lessons, AI for All!\nmicrosoft.g...",33,C
18,A curated list of awesome C++ (or C) framework...,381,Python
19,Black Friday Deals for macOS / iOS Software & ...,259,Thrift
20,Spring Boot\nspring.io/projects/spring-boot\nL...,"1,039",CMake
21,Open-source developer platform to turn scripts...,57,C
22,Best practices for segmentation of the corpora...,NA,Makefile
23,真的没有QQ群、QQ频道、论坛。打包分发注意开源协议，保留出处，不守规矩就不要搞。\nLic...,11,Java
24,Deliver web apps with confidence 🚀\nangular.de...,NA,Go

In [47]:
Github

,Repository Description,Contributors Count,Language Used,Repository Title
0,"A quick example of how one can ""synchronize"" a...",NA,JavaScript,bgstaal / multipleWindow3dScene
1,"Build ChatGPT over your data, all with natural...",5,HTML,run-llama / rags
2,2008-2012 Roadster Development and Diagnostic ...,NA,Python,teslamotors / roadster
3,"Awesome deals on Black Friday: Apps, SaaS, Boo...",567,Makefile,trungdq88 / Awesome-Black-Friday-Cyber-Monday
4,✯ 一个可直连访问的电视/广播图标库与相关工具项目 ✯ 🔕 永久免费 直连访问 完整开源 不...,NA,JavaScript,fanmingming / live
5,Clash Nyanpasu!\nLicense\nGPL-3.0 license\n2.2...,26,HTML,keiko233 / clash-nyanpasu
6,leaked prompts of GPTs\n2.9k stars 632 forks A...,3,TypeScript,linexjlin / GPTs
7,The code behind my hot tips\n686 stars 186 for...,NA,Rust,wesbos / hot-tips
8,Focus on prompting and generating\nLicense\nGP...,NA,JavaScript,lllyasviel / Fooocus
9,A Collection of application ideas which can be...,68,SCSS,florinpop17 / app-ideas
10,"StarRocks, a Linux Foundation project, is a ne...",293,HTML,StarRocks / starrocks
11,C Telegram bot framework\nLicense\nBSD-3-Claus...,NA,TypeScript,antirez / botlib
12,🇨🇳 GitHub中文排行榜，各语言分设「软件 | 资料」榜单，精准定位中文好项目。各取所需...,NA,JavaScript,GrowingGit / GitHub-Chinese-Top-Charts
13,🔥 🔥 🔥 现代化、开源的 Linux 服务器运维管理面板。\n1panel.cn/\nLi...,38,Python,1Panel-dev / 1Panel
14,store all agent's system prompt\nLicense\nMIT ...,3,JavaScript,LouisShark / chatgpt_system_prompt
15,Generative Models by Stability AI\nLicense\nMI...,15,Java,Stability-AI / generative-models
16,A one-of-a-kind resume builder that keeps your...,NA,C++,AmruthPillai / Reactive-Resume
17,"12 Weeks, 24 Lessons, AI for All!\nmicrosoft.g...",33,C,microsoft / AI-For-Beginners
18,A curated list of awesome C++ (or C) framework...,381,Python,fffaraz / awesome-cpp
19,Black Friday Deals for macOS / iOS Software & ...,259,Thrift,mRs- / Black-Friday-Deals
20,Spring Boot\nspring.io/projects/spring-boot\nL...,"1,039",CMake,spring-projects / spring-boot
21,Open-source developer platform to turn scripts...,57,C,windmill-labs / windmill
22,Best practices for segmentation of the corpora...,NA,Makefile,sergiomarotco / Network-segmentation-cheat-sheet
23,真的没有QQ群、QQ频道、论坛。打包分发注意开源协议，保留出处，不守规矩就不要搞。\nLic...,11,Java,CatVodTVOfficial / TVBoxOSC
24,Deliver web apps with confidence 🚀\nangular.de...,NA,Go,angular / angular

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [4]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import StaleElementReferenceException
import time

In [6]:
#Connecting to webdriver:
driver=webdriver.Chrome()
time.sleep(1)

#opening to webpage:
url='https:/www.billboard.com/'
driver.get(url)
time.sleep(1)

In [7]:
#Click on HOT 100 using XPATH:
hot_100=driver.find_element(By.XPATH,'//ul[@aria-labelledby="mega-menu-item-charts"]//li[2]/a')
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))
time.sleep(2)

In [8]:
#Creating empty list for scrapping data:
Song=[]
Artist=[]
Week_rank=[]
Peak_rank=[]
Weeks_board=[]

In [9]:
#Scrapping song
try:
    song=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//ul/li/h3')
    for i in song:
        Song.append(i.text)
except NoSuchElementException:
    Song.append('NA')

#Scrapping artist name:
try:
    artists=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')
    for artist in artists:
        Artist.append(artist.text)
except NoSuchElementException:
    Artist.append('NA')

#Scrapping week rank:
try:
    week_rank=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]/span')
    for i in week_rank:
        Week_rank.append(i.text)
except NoSuchElementException:
    Week_rank.append('NA')

#Scrapping peak rank:
try:
    peak_rank=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]/span')
    for i in peak_rank:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('NA')

#Scrapping week board:
try:
    week_board=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]/span')
    for i in week_board:
        Weeks_board.append(i.text)
except NoSuchElementException:
    Weeks_board.append('NA')

In [10]:
print(len(Song),len(Artist),len(Week_rank),len(Peak_rank),len(Weeks_board))

100 100 100 100 100

In [12]:
#DataFrame for scrapped data
Billboard=pd.DataFrame({"Song Name":Song,"Artist Name":Artist,"Last Week Rank":Week_rank,"Peak Rank":Peak_rank,"Weeks on Board":Weeks_board})
Billboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Cruel Summer,Taylor Swift,1,1,28
1,Lovin On Me,Jack Harlow,-,2,1
2,Paint The Town Red,Doja Cat,2,1,15
3,Snooze,SZA,4,2,49
4,Is It Over Now? (Taylor's Version) [From The V...,Taylor Swift,3,1,3
...,...,...,...,...,...
95,Mi Ex Tenia Razon,Karol G,91,22,13
96,Different 'Round Here,Riley Green Featuring Luke Combs,-,97,1
97,But I Got A Beer In My Hand,Luke Bryan,98,92,5
98,Better Than Ever,YoungBoy Never Broke Again & Rod Wave,-,99,1
99,Soak City (Do It),310babii,-,100,1

# 6. Scrape the details of Highest selling novels.

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [19]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [20]:
#Connecting to webdriver:
driver=webdriver.Chrome()
time.sleep(1)

#opening the webpage:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)

In [21]:
#Creating empty list for scrapping data:
Book_name=[]
Author_name=[]
Volume_sold=[]
Publisher=[]
Genre=[]

In [22]:
#Scrapping Book name:
try:
    book_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book_name:
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('NA')

#Scrapping Author name:    
try:
    author_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author_name:
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append('NA')

#Scrapping volume sold:    
try:
    volume_sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in volume_sold:
        Volume_sold.append(i.text)
except NoSuchElementException:
    Volume_sold.append('NA')

#Scrapping publisher:
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')

#Scrapping genre:
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [24]:
print(len(Book_name),len(Author_name),len(Volume_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [25]:
#DataFrame for scapped data:
Highest_selling_novel=pd.DataFrame({"Book Name":Book_name,"Author Name":Author_name,"Volume sold":Volume_sold,"Publisher":Publisher,"Genre":Genre})
Highest_selling_novel

,Book Name,Author Name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/ 

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [27]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [28]:
#connecting to webdriver:
driver=webdriver.Chrome()
time.sleep(1)

#opening to webpage
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)

In [29]:
#Empty list for scrapped data
Name=[]
Year=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [30]:
#Scrapping name:
try:
    name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')
#Scrapping year
try:
    year=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in year:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

#scrapping genre    
try:
    genre=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

#Scrapping Run time
try:
    run_time=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
    for i in run_time:
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append('NA')

#Scrapping Ratings
try:
    ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

#Scrapping votes
try:
    votes=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [31]:
print(len(Name),len(Year),len(Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [33]:
#Creating Dataframe for scrapped data
TV_series=pd.DataFrame({"Name":Name,"Year span":Year,"Genre":Genre,"Run time":Run_time,"Ratings":Ratings,"Votes":Votes})
TV_series

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,224,779"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,292,070"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,055,446"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"309,926"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,048"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"53,228"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,320"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"213,018"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,355"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"277,498"

# 8. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/ 

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute ty

In [68]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [69]:
#Conencting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

#opening to webpage
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(1)

In [70]:
#connecting to dataset webpage
dataset=driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
dataset.click()
time.sleep(1)

In [71]:
#Empty list for scrapped data
Dataset=[]
Data_type=[]
Task=[]
Attribute_type=[]
Instances=[]
Attribute=[]
Year=[]

In [73]:
#URL
Product_URL=[]
start=0
end=65
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in url:
        Product_URL.append(i.get_attribute('href'))
    nxt_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    nxt_button.click()
    time.sleep(2)

In [74]:
len(Product_URL)

650

In [75]:
for i in Product_URL:
    driver.get(i)
    time.sleep(3)
    
    #Scrapping dataset
    try:
        dataset=driver.find_elements(By.XPATH,'//div[@class="flex flex-col"]//div[1]//div[2]//div[1]//h1')
        for i in dataset:
            Dataset.append(i.text)
    except NoSuchElementException:
        Dataset.append('NA')
    
    #Scrapping type
    try:
        Type=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p')
        Data_type.append(Type.text)
    except NoSuchElementException:
        Data_type.append('NA')
    
# Scraping Task via Xpath
    try:
        task=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('NA')
    
    #Scrapping attribute
    try:
        attribute=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        Attribute_type.append(attribute.text)
    except NoSuchElementException:
        Attribute_type.append('NA')
        
        
# Scraping No_of_Instances via Xpath
    try:
        no_of_Instances=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        Instances.append(no_of_Instances.text)
    except NoSuchElementException:
        Instances.append('NA')

# Scraping No_of_Attribute via Xpath
    try:
        no_of_Attribute=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
        Attribute.append(no_of_Attribute.text)
    except NoSuchElementException:
        Attribute.append('NA')
    
# Scraping Year via Xpath
    try:
        year=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        Year.append(year.text)
    except NoSuchElementException:
        Year.append('NA')

In [76]:
print(len(Dataset),len(Data_type),len(Task),len(Attribute_type),len(Instances),len(Attribute),len(Year))

649 650 650 650 650 650 650

In [78]:
Dataset=pd.DataFrame({"Dataset":Dataset[:640],"Data":Data_type[:640],"Task":Task[:640],"Attributes_type":Attribute_type[:640],"Instances":Instances[:640],"Attributes":Attribute[:640],"Year":Year[:640]})
Dataset

,Dataset,Data,Task,Attributes_type,Instances,Attributes,Year
0,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
3,Wine,Tabular,Classification,"Integer, Real",178,13,Donated on 6/30/1991
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
...,...,...,...,...,...,...,...
635,Qualitative Structure Activity Relationships,"Multivariate, Time-Series",-,"Categorical, Real",-,-,Donated on 1/27/1999
636,TTC-3600: Benchmark dataset for Turkish text c...,Domain-Theory,-,-,-,-,NA
637,Logic Theorist,Text,"Classification, Clustering",Integer,3600,4814,Donated on 2/7/2017
638,University of Tehran Question Dataset 2016 (UT...,Domain-Theory,-,-,-,-,NA
639,"USPTO Algorithm Challenge, run by NASA-Harvard...",Text,Classification,-,1175,3,Donated on 9/26/2017